*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	width: 500px;
	height: 500px;
	margin: 150px auto;
	border: 2px solid gray;
	position: relative;
	font-family: arial;
	overflow: hidden;
}
.container img{
	width: 100%;
	height: 100%;
	transition: all .5s;
}
.container:hover img{
	transform: scale(1.09);
}
.container .content{
	background: rgba(0,0,0,.7);
	position: absolute;
	top: -100%;left: 0;
	text-align: justify;
	height: 100%;
	color: #fff;
	padding: 20px 15px;
	transition: .5s;
}
.container:hover .content{
	top: 0;
}
.container .content h2{
	text-align: center;
	font-size: 30px;
	color: #d2d2d5;
	padding-bottom: 20px;
	border-bottom: 1px solid #808080; 
}
.container .content p{
	font-size: 19px;
	padding: 100px 25px 100px 25px;
	border-bottom: 1px solid #808080;
}